body{
    margin: 1vh;
    background-image: url("student-bg.svg");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding: 3ch;
    background-color: rgba(8, 6, 1, 0.4);
    backdrop-filter: blur(9px);
    color: #dfd5bc;
    border-radius: 34px;
    width: fit-content;
}

span{
    background-color: #31302a;
    font-size: 2.5ch;
    padding: 1ch;
    border: 1px solid rgb(100, 97, 97);
}

span:nth-child(1){
    border-radius: 34px 0 0 0;
}

span:nth-child(11){
    border-radius: 0 0 0 34px;
}

span:nth-child(12){
    border-radius: 0 0 34px 0;
}

span:nth-child(2){
    border-radius: 0 34px 0 0;
}

b{
    border: 0;
    border-radius: 69px;
    padding: 1ch;
    background-color: rgb(59, 45, 46);
    font-size: 2.7ch;
    color: white;
    margin-top: 2ch;
}

b:active{
    scale: .9;
    background-color: rgb(114, 87, 89);
}