body {
    background: url("tbg.svg");
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

center:nth-child(2) {
    background: linear-gradient(to top, #310000, rgba(49, 0, 0, .3));
    overflow: hidden;
    margin: 5ch 1ch 1ch 1ch;
    border-radius: 34px;
    padding: 2ch;
    width: fit-content;
    box-shadow: black 0px 19px 38px, rgba(0, 0, 0, .1) 0px 15px 12px;
    max-height: 95vh;
}

ol {
    border-radius: 34px;
    backdrop-filter: blur(9px);
    overflow-x: hidden;
}

div{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    font-size: large;
    grid-column-gap: 1ch;
}

li div>*:nth-child(1), li div>*:nth-child(2){
    border-right: 2px solid snow;
}

li div>*:nth-child(3), li div>*:nth-child(2){
    text-align: center;
}
li div>*:nth-child(3){
border-radius: 69px;
padding: .5ch 0 .5ch 0;
margin: 0;
}